<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{site.favicon | relative_url}}" />
{% seo %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Ubuntu&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="{{ "/" | absolute_url }}">
            {{ site.title | default: site.github.repository_name }}
          </a>
        </h1>

        {% if site.logo %}
          <img width="50" src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>   

        <!-- Create Arrays -->
        {% assign economia_array = "" | split: ',' %}
        {% assign perfil_array = "" | split: ',' %}
        {% assign politica_array = "" | split: ',' %}
        {% assign guerras_array = "" | split: ',' %}
        {% assign pro_array = "" | split: ',' %}

        {% assign sorted = site.html_pages | sort:"rank" %}
        {% for item in sorted %}
          {% if item.path != "index.md" and item.title and item.rank %}
            {% if item.category == "economia" %}
              <!-- Push item -->
              {% assign economia_array = economia_array | push: item %}
            {% elsif item.category == "perfil" %}
              <!-- Push item -->
              {% assign perfil_array = perfil_array | push: item %}
            {% elsif item.category == "politica" %}
              <!-- Push item -->
              {% assign politica_array = politica_array | push: item %}
            {% elsif item.category == "guerras" %}
              <!-- Push item -->
              {% assign guerras_array = guerras_array | push: item %}
            {% elsif item.category == "pro" %}
              <!-- Push item -->
              {% assign pro_array = pro_array | push: item %}
            {% elsif item.category == "historia" %}
              <!-- Push item -->
              {% assign historia_array = historia_array | push: item %}
            {% endif %}
          {% endif %}
        {% endfor %}

        <div class="sidebar">
          <div class="dropdown">
            <div class="dropbtn"> Perfil </div>
            <div class="dropdown-content">
              {% for item in perfil_array %}
                <div>
                  <a href="/{{ site.baseurl | append: item.path | replace:'.md','.html' }}">{{ item.title }}</a>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="dropdown">
            <div class="dropbtn"> Economia </div>
            <div  class="dropdown-content">
              {% for item in economia_array %}
              <div>
                <a href="/{{ site.baseurl | append: item.path | replace:'.md','.html' }}">{{ item.title }}</a>
              </div>
              {% endfor %}
            </div>
          </div>       

          <div class="dropdown">
            <div class="dropbtn"> Politica </div>
            <div  class="dropdown-content">
              {% for item in politica_array %}
              <div>
                <a href="/{{ site.baseurl | append: item.path | replace:'.md','.html' }}">{{ item.title }}</a>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="dropdown">
            <div class="dropbtn"> Guerras </div>
            <div  class="dropdown-content">
              {% for item in guerras_array %}
              <div>
                <a href="/{{ site.baseurl | append: item.path | replace:'.md','.html' }}">{{ item.title }}</a>
              </div>
              {% endfor %}
            </div>
          </div>       

          <div class="dropdown">
            <div class="dropbtn"> Pro </div>
            <div  class="dropdown-content">
              {% for item in pro_array %}
              <div>
                <a href="/{{ site.baseurl | append: item.path | replace:'.md','.html' }}">{{ item.title }}</a>
              </div>
              {% endfor %}
            </div>
          </div>       

          <div class="dropdown">
            <div class="dropbtn"> Historia </div>
              <div  class="dropdown-content">
                {% for item in historia_array %}
                <div>
                  <a href="/{{ site.baseurl | append: item.path | replace:'.md','.html' }}">{{ item.title }}</a>
                </div>
                {% endfor %}
              </div>
            
          </div>

        </div>
      <!-- HTML elements for search -->
      <input type="text" id="search-input" placeholder="Buscar...">
      <ul id="results-container"></ul> 
      </header>
      <section>


      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
    <script src="{{site.search | relative_url}}"></script> 
  </body>
</html>
